@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');


:root {
    --primary-color: #F9AA33;
    --background-color: #212121;
    --background-color-dark: #242424;

    --text-grey: #D0CCCA;
    --text-white: rgba(255, 255, 255, 0.856);

    --secondary-color: #F9AA33;
    --dar-grey: #6B7280;
    --off-white-grey: #E5E7EB;
}

body {
    background-color: var(--background-color);
    margin: 0px;
    font-family: 'Fira Code', monospace;
    color: var(--text-white);
}

hr {
    margin: 2rem 0rem;
}

/** container **/
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/** links **/
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

/** lists **/

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
}

/** navigation **/

.navigation {
    color: white;
    box-shadow: -1px 1px var(--primary-color);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
}

.navigation .nav-pills {
    text-align: end;
}

.navigation .link {
    color: var(--text-grey);
}

.navigation .link-active {
    font-weight: bold;
    color: var(--primary-color);
}

/* header */

.hero {
    padding: 2rem;
}

.hero .hero-image {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    color: var(--text-white);
    font-size: 2rem;
    padding-top: 1rem;
    text-align: center;
}

.hero .hero-heading .heading-inverted::before {
    color: var(--secondary-color);
    animation: headAnim infinite 4s;
}

@keyframes headAnim {
    0% {
        content: "TEXT 1";
    }
    50% {
        content: "TEXT 2";
    }
}

/* section */

.section {
    padding: 2rem;
    ;
}

.section h1 {
    text-align: center;
}

.ow {
    background-color: var(--background-color-dark);
}

.section-container {
    max-width: 600px;
    margin: auto;
}

/* footer */

.footer {
    padding: 2rem 1rem;
    text-align: center;
    color: white;
}

.footer .footer-header {
    font-size: large;
    font-weight: bold;
}

.footer .link {
    color: white;
}

.footer .nav-pills {
    padding: 0px;
}